* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}

.login {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
}

.inp{
  padding: 8px;
  margin: 9px;
  border-radius: 8px;
}

label{
  margin: 18px;
}

.main-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: row;
  color: white;
}

.login-form {
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 15vh;
  padding: 20px;
  border-radius: 10px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 0;
}

.heading {
  display: flex;
  justify-content: center;
  margin: 40px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 10px;
  border-radius: 10px;
  width: 50vw;
  margin-left: 25vw;
  border: 1px solid white;
  height: 80vh;
  margin-top: 40px;
}



.btn {
  margin-top: 10px;
  cursor: pointer;
}

.add-page {
  margin-top: 2vh;
}

.lower {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.update-btn,
.delete-btn {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px 15px;
  margin: 20px;

}
.delete-btn:hover {
  background-color: rgb(64, 64, 64);
  color: white;
}

.update-btn:hover {
  background-color: rgb(64, 64, 64);
  color: white;
}   

.filter-btn{
  margin-left: 50px;
  padding: 10px;
  border-radius: 5px 15px;
  border: none;
  box-shadow: 2px 2px 2px #000000;
  cursor: pointer;
}

.input{
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.label{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items:flex-start;
}

.add-btn {
  margin-left: 42vw;
  padding: 10px;
  border-radius: 5px 15px;
  border: none;
  box-shadow: 2px 2px 2px #000000;
  cursor: pointer;
}

.add-btn:hover {
  background-color: black;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
  grid-gap: 40px;
  padding: 35px;
  margin: 0 auto;
  max-width: 1200px;
}

.items {
  background-color: #000000;
  border-radius: 10px;
  padding: 35px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  width: 200px;
  max-height: 250px;
  border-radius: 10px;
}

.item-name {
  font-size: 29px;
  margin-bottom: 13px;
}

.person-name,
.origin {
  font-size: 19px;
  margin-bottom: 13px;
}

.description {
  font-size: 19px;
  margin-top: 20px;
}
img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .items {
    grid-column: span 4;
  }
}
