* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}

.heading {
  display: flex;
  justify-content: center;
  margin: 40px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 10px;
}

.btn{
  margin-top: 10px;
  cursor: pointer;

}

.add-page {
  margin-top: 2vh;
}

.inp {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.add-btn {
  margin-left: 47vw;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px #000000;
  cursor: pointer;

}

.add-btn:hover {
  background-color: black;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
  grid-gap: 40px;
  padding: 35px;
  margin: 0 auto;
  max-width: 1200px;
}

.items {
  background-color: #000000;
  border-radius: 10px;
  padding: 35px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  width: 200px;
  max-height: 250px;
  border-radius: 10px;
}

.item-name {
  font-size: 29px;
  margin-bottom: 13px;
}

.person-name,
.origin {
  font-size: 19px;
  margin-bottom: 13px;
}

.description {
  font-size: 19px;
  margin-top: 20px;
}
img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .items {
    grid-column: span 4;
  }
}
